@import url("https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif+Caption&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
h3,
h4,
li,
p,
a {
    font-family: "Roboto", sans-serif;
    color: #2f2926;
}

h1,
h2,h5 {
    font-family: "Permanent Marker", cursive;
}

a {
    color: white;
    font-size: 2rem;
}
