@import url("https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif+Caption&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
h3,
h4,
li,
p {
    font-family: "PT Serif Caption", serif;
    color: #2f2926;
}

h1,
h2 {
    font-family: 'Permanent Marker', cursive;}

a {
    color: white;
    font-size: 2rem;
    margin: 2rem;
    font-weight: 700;
}
